*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background: #111111;
}
h1{
    color: #fff;
    text-shadow: 0px 0px 5px #fff;
    text-decoration: underline;
    margin: 2em;
}
.container-fluid{
    background: rgb(102, 8, 102);
    margin: 50px 60px 10px 60px;
    border-radius: 5px;
    box-shadow: 0 0 30px violet;
    padding: 1em;
}
img{
    max-height: 500px;
    max-width: 500px;
    margin: 2em;
}
footer h1{
    text-decoration: none;
    text-align: center;
}
@media screen and (max-width: 426px){
    .jaff{
        margin: 1.5em;
    }
    img{
        max-height: 400px;
        max-width: 400px;
        margin: 1em;
    }
}